@import url('https://fonts.cdnfonts.com/css/nexa');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";



html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Nexa', 'Montserrat', 'Inter', sans-serif;
  background: #fff;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-nexa {
  font-family: 'Nexa', 'Montserrat', sans-serif;
}

.font-metro {
  font-family: 'Metropolis', 'Montserrat', sans-serif;
}

::-webkit-scrollbar { display: none; }
